h1 {
    color: khaki;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    font-family: Helvetica;
    background-image: url("../images/pattern.webp");
}

h2 {
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-family: Helvetica;
}

#brushes {
    background-color: mediumspringgreen;
}

#paint {
    background-color: skyblue;
}

#frames {
    background-color: lightcoral;
}

strong {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}